{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>J.Cole & "DreamVille" Fan Page Presented by J. Twitty</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/site.css' %}" rel="stylesheet">
</head>
<body class="center white_text">
<div class="container">

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="{% url "index" %}">Home</a></li>
  <li role="presentation"><a href="{% url "concerts" %}">J.Cole Concerts</a></li>
  <li role="presentation"><a href="{% url "aboutme" %}">About me</a></li>
</ul>
<h1>J.Cole & "Dreamville" Fan Page</h1>
<h4><em>"They say that Dreams Come True and when they do that there's a Beautiful Thing..." -J.Cole</em></h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/NtjrFw4i2Qo?autoplay=1" frameborder="0" allowfullscreen></iframe>
    <br>
    <br>
    <br>
<div class="medium">Jermaine Lamarr Cole (born January 28, 1985), better known by his stage name J. Cole, is an American hip hop
    recording artist and record producer. Cole first received recognition in 2007, following the release of his
    debut mixtape The Come Up. Shortly after the release of The Come Up in 2009, Cole was contacted by American
    rapper Jay Z and subsequently signed to his record label Roc Nation. In that same year, Cole released his
    second mixtape, The Warm Up, which was itself followed by Cole's third mixtape, Friday Night Lights, in 2010.
</div>
    <br>
    <br>
<div class="medium">His debut album, Cole World: The Sideline Story, was released on September 27, 2011. The album debuted at
    number one on the US Billboard 200, Top R&B Albums and Top Rap Albums chart, selling more than 218,000 in its
    first week. He received a nomination for Best New Artist at the 54th Grammy Awards. Cole's second album, Born
    Sinner, was released on June 18, 2013. The album debuted at number two on the Billboard 200; however, Born
    Sinner later rose to number one, giving Cole his second number one on the chart. His third album, 2014 Forest
    Hills Drive, was released on December 9, 2014 and also debuted at number one on the Billboard 200, giving Cole
    his third number one album, which reached Platinum status. J. Cole became the first rapper to go platinum in
    25 years without features.
</div>
    <br>
    <br>
<div class="medium"><strong><em>His third album, 2014 Forest Hills Drive, was released on December 9, 2014 and also debuted at number one
    on the Billboard 200, giving Cole his third number one album, which reached Platinum status. J. Cole became
    the first rapper to go platinum in 25 years without features.</em></strong>
</div>
<br>
    <span>
        <a target="_blank" href="http://www.jcolemusic.com">
            <img HEIGHT="333" WIDTH="500" src="{% static 'index_background_image3.jpg' %}"/>
        </a>
        <a target="_blank" href="http://www.dreamville.com">
<img HEIGHT="333" WIDTH="500" src="{% static 'index_background_image2.jpg' %}"/>
        </a>
    </span>
    <br>
    <br>
    <br>
    <span>
        <a target="_blank" href="https://itunes.apple.com/us/album/forest-hills-drive-live-from/id1078337231?app=itunes">
            <img src="{% static 'forest_hills_live.jpg' %}"/>
        </a>
        <a target="_blank" href="https://itunes.apple.com/us/album/2014-forest-hills-drive/id940845223">
            <img src="{% static 'JCole_2014FHD_Cover.jpg' %}"/>
        </a>
    </span>
    <table>
        <tr>
        <td> History turned into an album. Just in time for Cole’s born day, Forest Hills Drive Live includes thirteen tracks recorded live from Cole’s sold-out show at Crown Coliseum in his hometown of Fayetteville, N.C. The show was also featured in his HBO documentary Forest Hills Drive: Homecoming.</td>
        <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td> The album name is derived from the address of J. Cole’s actual childhood home in Fayetteville, North Carolina. The project is a meditation on the value of love relative to worldly success. Fuck Money, Spread Love.</td>
        <tr>
    </table>
    <br>
    <br>
    <br>
<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
<script src="{% static 'js/bootstrap.js' %}" type="application/javascript"></script>
</div>
</body>
</html>